In [1]:
# Carregando os dados
import pandas as pd
import os

In [2]:
current_dir = os.getcwd()
data_path = os.path.abspath(os.path.join(current_dir, "..", "data"))
data = pd.read_csv(os.path.join(data_path, "dados_estudantes.csv"))
data

,Estado civil,Migração,Sexo,Idade na matrícula,Estrangeiro,Necessidades educacionais especiais,Devedor,Taxas de matrícula em dia,Bolsista,Taxa de desemprego,...,disciplinas 1º semestre (aprovadas),disciplinas 1º semestre (notas),disciplinas 1º semestre (sem avaliações),disciplinas 2º semestre (creditadas),disciplinas 2º semestre (matriculadas),disciplinas 2º semestre (avaliações),disciplinas 2º semestre (aprovadas),disciplinas 2º semestre (notas),disciplinas 2º semestre (sem avaliações),Target
0,Solteiro,Sim,Masculino,20,Não,Não,Não,Sim,Não,10.8,...,0,0.000000,0,0,0,0,0,0.000000,0,Desistente
1,Solteiro,Sim,Masculino,19,Não,Não,Não,Não,Não,13.9,...,6,14.000000,0,0,6,6,6,13.666667,0,Graduado
2,Solteiro,Sim,Masculino,19,Não,Não,Não,Não,Não,10.8,...,0,0.000000,0,0,6,0,0,0.000000,0,Desistente
3,Solteiro,Sim,Feminino,20,Não,Não,Não,Sim,Não,9.4,...,6,13.428571,0,0,6,10,5,12.400000,0,Graduado
4,Casado,Não,Feminino,45,Não,Não,Não,Sim,Não,13.9,...,5,12.333333,0,0,6,6,6,13.000000,0,Graduado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,Solteiro,Não,Masculino,19,Não,Não,Não,Sim,Não,15.5,...,5,13.600000,0,0,6,8,5,12.666667,0,Graduado
4420,Solteiro,Sim,Feminino,18,Sim,Não,Sim,Não,Não,11.1,...,6,12.000000,0,0,6,6,2,11.000000,0,Desistente
4421,Solteiro,Sim,Feminino,30,Não,Não,Não,Sim,Sim,13.9,...,7,14.912500,0,0,8,9,1,13.500000,0,Desistente
4422,Solteiro,Sim,Feminino,20,Não,Não,Não,Sim,Sim,9.4,...,5,13.800000,0,0,5,6,5,12.000000,0,Graduado
4423,Solteiro,Sim,Feminino,22,Sim,Não,Não,Sim,Não,12.7,...,6,11.666667,0,0,6,6,6,13.000000,0,Graduado

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 28 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Estado civil                              4424 non-null   object
 1   Migração                                  4424 non-null   object
 2   Sexo                                      4424 non-null   object
 3   Idade na matrícula                        4424 non-null   int64
 4   Estrangeiro                               4424 non-null   object
 5   Necessidades educacionais especiais       4424 non-null   object
 6   Devedor                                   4424 non-null   object
 7   Taxas de matrícula em dia                 4424 non-null   object
 8   Bolsista                                  4424 non-null   object
 9   Taxa de desemprego                        4424 non-null   float64
 10  Taxa de inflação                          4424 non-null   float64
 11  PIB                                       4424 non-null   float64
 12  Curso                                     4424 non-null   object
 13  Período                                   4424 non-null   object
 14  Qualificação prévia                       4424 non-null   object
 15  disciplinas 1º semestre (creditadas)      4424 non-null   int64
 16  disciplinas 1º semestre (matriculadas)    4424 non-null   int64
 17  disciplinas 1º semestre (avaliações)      4424 non-null   int64
 18  disciplinas 1º semestre (aprovadas)       4424 non-null   int64
 19  disciplinas 1º semestre (notas)           4424 non-null   float64
 20  disciplinas 1º semestre (sem avaliações)  4424 non-null   int64
 21  disciplinas 2º semestre (creditadas)      4424 non-null   int64
 22  disciplinas 2º semestre (matriculadas)    4424 non-null   int64
 23  disciplinas 2º semestre (avaliações)      4424 non-null   int64
 24  disciplinas 2º semestre (aprovadas)       4424 non-null   int64
 25  disciplinas 2º semestre (notas)           4424 non-null   float64
 26  disciplinas 2º semestre (sem avaliações)  4424 non-null   int64
 27  Target                                    4424 non-null   object
dtypes: float64(5), int64(11), object(12)
memory usage: 967.9+ KB

In [5]:
data['Target'].unique()

array(['Desistente', 'Graduado', 'Matriculado'], dtype=object)