Exercício 2 - Enunciado

Um analista do mercado acionário coletou os retornos mensais de duas
ações que pretende indicar aos seus clientes. Calcule as estatísticas
descritivas para as duas variáveis. O banco de dados com os retornos
percentuais mensais está na planilha Lista de Exercício Complementares: aba
Exercício 2. Posteriormente, analise o coeficiente de correlação de Pearson
entre os retornos.

In [2]:
# Importando dados
import os 
import pandas as pd
import numpy as np
from scipy.stats import t, pearsonr

current_dir = os.getcwd()
data_path = os.path.abspath(os.path.join(current_dir, '..', 'data'))
arquivo = os.path.join(
    data_path, ('Lista de Exercicios - Complementaresxlsx Portugues.xlsx'))
dados = pd.read_excel(arquivo, sheet_name= 'Exercício 2')

dados.head()

,Meses,Ação 1,Ação 2,Unnamed: 3,Descritivas,Ação 1.1,Ação 2.1,Unnamed: 7,Posição,Ação 1.2,Ação 2.2
0,1.0,-0.0212,0.2645,NaN,Nº Observações,23,23.000000,NaN,1.0,-0.2018,-0.1490
1,2.0,0.2438,0.2086,NaN,Média,0.035204,0.151135,NaN,2.0,-0.1591,-0.1410
2,3.0,0.2296,0.1248,NaN,Mediana,0.037,0.124800,NaN,3.0,-0.1111,-0.1059
3,4.0,-0.2018,0.0209,NaN,Moda,NaN,NaN,NaN,4.0,-0.1001,-0.0056
4,5.0,0.1296,0.2055,NaN,1º Quartil,-0.0612,0.020400,NaN,5.0,-0.0674,0.0160

In [3]:
resolucao_df = dados[['Meses', 'Ação 1', 'Ação 2']]
resolucao_df

    Meses  Ação 1  Ação 2
0     1.0 -0.0212  0.2645
1     2.0  0.2438  0.2086
2     3.0  0.2296  0.1248
3     4.0 -0.2018  0.0209
4     5.0  0.1296  0.2055
5     6.0  0.0615  0.6260
6     7.0 -0.1591 -0.1490
7     8.0 -0.1001  0.2580
8     9.0 -0.0265  0.1722
9    10.0  0.0776  0.0199
10   11.0  0.0370  0.4331
11   12.0  0.1116  0.5482
12   13.0 -0.0667  0.0452
13   14.0 -0.0082 -0.1410
14   15.0  0.0119 -0.1059
15   16.0  0.1205  0.4074
16   17.0  0.0477 -0.0056
17   18.0  0.2814  0.1482
18   19.0 -0.0674  0.0753
19   20.0  0.0762  0.0899
20   21.0 -0.1111  0.0160
21   22.0 -0.0557  0.1805
22   23.0  0.1991  0.0334
23    NaN     NaN     NaN
24    NaN     NaN     NaN
25    NaN     NaN     NaN
26    NaN     NaN     NaN
27    NaN     NaN     NaN

In [4]:
resolucao_df.isnull().sum()

Meses     5
Ação 1    5
Ação 2    5
dtype: int64

In [5]:
resolucao_df = resolucao_df.dropna()

In [6]:
resolucao_df.set_index('Meses', inplace=True)

In [7]:
# Verificando dados
resolucao_df.describe()

          Ação 1     Ação 2
count  23.000000  23.000000
mean    0.035204   0.151135
std     0.129221   0.203822
min    -0.201800  -0.149000
25%    -0.061200   0.020400
50%     0.037000   0.124800
75%     0.116050   0.233300
max     0.281400   0.626000

In [8]:
# Correlação de pearson
X = resolucao_df['Ação 1'].to_numpy()
y = resolucao_df['Ação 2'].to_numpy()

In [9]:
# Cálculo das médias
X_mean = X.mean()
y_mean = y.mean()

print(f'As médias são {X_mean:.4f} para Ação 1 e {y_mean:.4f} para a ação 2.')

As médias são 0.0352 para Ação 1 e 0.1511 para a ação 2.

In [10]:
# Cálculos dos desvios e produtos cruzados
total_desvios = np.sum((X-X_mean)*(y-y_mean))
print("Soma dos produtos cruzados dos desvios:", total_desvios)

Soma dos produtos cruzados dos desvios: 0.16851142652173917

In [11]:
# Cálculo dos desvios
sx = X.std()
sy = y.std()

print(f'Os desvios padrão são {sx:.4f} e {sy:.4f}, respectivamente.')

Os desvios padrão são 0.1264 e 0.1993, respectivamente.

In [12]:
# Substituir na formula de correlção de Pearson (r = ∑(xi−x̄)(yi−ȳ) / ((n−1)⋅sx⋅sy))
r = total_desvios / ((len(X))*sx*sy)
print(f'A correlação de pearson é: {r}')

A correlação de pearson é: 0.290818976586772

In [13]:
# Correlação através da biblioteca
correlacao = resolucao_df[['Ação 1','Ação 2']].corr()
correlacao

          Ação 1    Ação 2
Ação 1  1.000000  0.290819
Ação 2  0.290819  1.000000

In [14]:
# Teste de Hipótese
# Coeficiente de correlação e p-valor
r, p_valor = pearsonr(X,y)

print(f"Coeficiente de correlação (r): {r:.4f}")
print(f"Valor-p: {p_valor:.4f}")

Coeficiente de correlação (r): 0.2908
Valor-p: 0.1782

In [25]:
# Estatística t 
n = len(X)
t_calc = r * np.sqrt(n - 2) / np.sqrt(1 - r**2)
gl = n - 2

print(f"t de Student: {t_calc:.4f}")

t de Student: 1.3929

In [23]:
# Cálculo de t crítico para teste de hipótese bilateral
# Parâmetros
alpha = 0.05
df = 22 - 2

# Teste bilateral
t_critico = t.ppf(1 - alpha/2, df)
print(f'O valor do t crítico é: {t_critico}')

O valor do t crítico é: 2.0859634472658364

In [26]:
# Decisão
if abs(t_calc) > t_critico:
    print("Rejeita H0: a correlação é estatisticamente significativa.")
else:
    print("Não rejeita H0: a correlação não é estatisticamente significativa.")

Não rejeita H0: a correlação não é estatisticamente significativa.