Exercício 7 - Enunciado: 

(Fonte: Fávero e Belfiore, 2024, Cap. 8) Um grupo de 60 leitores fez uma
avaliação de três livros de romance e, ao final, escolheram uma das três
opções. Teste a hipótese nula de que não há diferença na preferência dos
leitores, ao nível de significância de 5%.

In [69]:
# Leitura dos dados
import os
import pandas as pd

current_dir = os.getcwd()
data_path = os.path.abspath(os.path.join(current_dir, "..", "data"))
file = os.path.join(data_path, 'Lista de Exercicios - Complementaresxlsx Portugues.xlsx')
dados = pd.read_excel(file, sheet_name = 'Exercício 7')

In [70]:
dados.head()

,Eventos,Livro A,Livro B,Livro C,Total,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,"Fávero, Luiz Paulo; Belfiore, Patrícia. (2024). Manual de análise de dados: estatística e machine learning com Excel®, SPSS®, Stata®, R® e Python®. 2 ed. Rio de Janeiro: LTC."
0,Frequência,29,15,16.000,60.0,> frequência observada,NaN,NaN,NaN,NaN
1,Proporção,0.483,0.25,0.267,1.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frequência,20,20,20.000,60.0,> frequência esperada,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# Selecionando os dados
dados = pd.DataFrame(data = dados)

In [72]:
dados.head()

,Eventos,Livro A,Livro B,Livro C,Total,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,"Fávero, Luiz Paulo; Belfiore, Patrícia. (2024). Manual de análise de dados: estatística e machine learning com Excel®, SPSS®, Stata®, R® e Python®. 2 ed. Rio de Janeiro: LTC."
0,Frequência,29,15,16.000,60.0,> frequência observada,NaN,NaN,NaN,NaN
1,Proporção,0.483,0.25,0.267,1.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frequência,20,20,20.000,60.0,> frequência esperada,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# Realizando a limpeza da tabela

dados = dados[['Livro A', 'Livro B', 'Livro C']]
dados = dados.iloc[[0,3]]
dados.index=['Frequência Real','Frequência Esperada']

In [74]:
dados.head()

                    Livro A Livro B  Livro C
Frequência Real          29      15     16.0
Frequência Esperada      20      20     20.0

In [ ]:
# Aplicando o teste qui-quadrado para identificar relações entre variáveis categóricas.
# Cálculo dos Resíduos
dados.loc['Resíduo'] = dados.loc['Frequência Real'] - dados.loc['Frequência Esperada']

In [82]:
# Cálculo estatística Qui-Quadrado
 
qui = 0
for esperado, residuo in zip(dados.loc['Frequência Esperada'], dados.loc['Resíduo']):
    qui += (residuo)**2 / esperado

print(f'O valor de Qui-quadrado é: {qui}')

O valor de Qui-quadrado é: 6.1

In [94]:
# Valor crítico
from scipy.stats import chi2

# Graus de liberdade
gl = 2

# valor crítico = 0.05
valor_critico = chi2.ppf(0.95, gl)

print(f'Valor crítico: {valor_critico:.2f}')

Valor crítico: 5.99

In [93]:
# Conclusão
if qui > valor_critico:
    print("Resultado: Rejeitamos a hipótese nula (há diferença na preferência).")
else:
    print("Resultado: Não rejeitamos a hipótese nula (sem evidência de preferência")

Resultado: Rejeitamos a hipótese nula (há diferença na preferência).