Exercício 9 - Enunciado:

Deseja-se comparar o tempo médio
de espera para atendimento (min) em 2 hospitais. Para isso, coletou-se uma
amostra com 20 pacientes em cada hospital. Verifique se há diferenças entre os tempos médios de espera nos dois hospitais. Considere α = 1%.

Adicionalmente, calcule os intervalos de confiança para o tempo médio de
espera nos dois hospitais.

In [17]:
# importando os dados
import os
import pandas as pd

current_dir = os.getcwd()
data_path = os.path.abspath(os.path.join(current_dir, '..', 'data' ))
file = os.path.join(data_path, 'Lista de Exercicios - Complementaresxlsx Portugues.xlsx' )
dados = pd.read_excel(file, sheet_name='Exercício 9')
dados.head()

,Hospital A,Hospital B,Unnamed: 2,Unnamed: 3,Média,Variâncias,n,Unnamed: 7,Teste-F: duas amostras para variâncias,Unnamed: 9,Unnamed: 10,Unnamed: 11,"Fávero, Luiz Paulo; Belfiore, Patrícia. (2024). Manual de análise de dados: estatística e machine learning com Excel®, SPSS®, Stata®, R® e Python®. 2 ed. Rio de Janeiro: LTC."
0,72.0,66.0,NaN,Hospital A,81.5,137.736842,20,NaN,NaN,NaN,NaN,NaN,NaN
1,58.0,40.0,NaN,Hospital B,57.8,96.8,20,NaN,NaN,Hospital A,Hospital B,NaN,NaN
2,91.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,Média,81.5,57.8,NaN,NaN
3,88.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Variância,137.736842,96.8,NaN,NaN
4,70.0,76.0,NaN,Teste F Variâncias,1.422901,NaN,NaN,NaN,Observações,20,20,NaN,NaN

In [18]:
# Selecionando os dados
dados = dados[['Hospital A', 'Hospital B']]
dados.head()

   Hospital A  Hospital B
0        72.0        66.0
1        58.0        40.0
2        91.0        55.0
3        88.0        70.0
4        70.0        76.0

In [19]:
# Verificando a existência de dados nulos
dados.isnull().sum()

Hospital A    18
Hospital B    18
dtype: int64

In [20]:
# Tratandos os dados
dados = dados.dropna()
dados

    Hospital A  Hospital B
0         72.0        66.0
1         58.0        40.0
2         91.0        55.0
3         88.0        70.0
4         70.0        76.0
5         76.0        61.0
6         98.0        53.0
7        101.0        50.0
8         65.0        47.0
9         73.0        61.0
10        79.0        52.0
11        82.0        48.0
12        80.0        60.0
13        91.0        72.0
14        93.0        57.0
15        88.0        70.0
16        97.0        66.0
17        83.0        55.0
18        71.0        46.0
19        74.0        51.0

In [21]:
# Teste f para variâncias
from scipy.stats import f, t

# Variâncias amostrais
var_a = dados['Hospital A'].var(ddof=1)
var_b = dados['Hospital B'].var(ddof=1)

# Estatística f
F = var_a / var_b

# graus de liberdade
gl1 = len(dados['Hospital A']) - 1
gl2 = len(dados['Hospital B']) - 1

# Valor crítico
valor_critico = f.ppf(0.99, gl1, gl2)

print(f"Variância A: {var_a:.2f}")
print(f"Variância B: {var_b:.2f}")
print(f"Estatística F: {F:.2f}")
print(f"Valor crítico (alpha = 1%): {valor_critico:.2f}")
print("Conclusão:", "Rejeita H0, as amostras indicam que A tem maior variabilidade." if F > valor_critico else "Não rejeita H0, portanto não há diferença entre o tempo médio de espera dos dois hospitais")

Variância A: 137.74
Variância B: 96.80
Estatística F: 1.42
Valor crítico (alpha = 1%): 3.03
Conclusão: Não rejeita H0, portanto não há diferença entre o tempo médio de espera dos dois hospitais

In [32]:
# Verificando o intervalo de confiança
import numpy as np

def intervalo_confianca(nome):
    media = nome.mean()
    n = len(nome)
    desvio = np.std(nome, ddof=1)

    # Nível de confiança
    alpha = 0.01

    # Valor crítico t
    t_critico = t.ppf(1-alpha/2, df=n-1)
 
    # Erro padrão da média
    erro_padrao = desvio/np.sqrt(n)
 
    # Intervalo de confiança
    ic_inferior = media - t_critico * erro_padrao
    ic_superior = media + t_critico * erro_padrao
  

    print(f"Média: {media:.2f}")     
    print(f"Intervalo de confiança 99%: ({ic_inferior:.2f}, {ic_superior:.2f})")

In [33]:
# IC Hospital A
ic_A = intervalo_confianca(dados['Hospital A'])

Média: 81.50
Intervalo de confiança 99%: (73.99, 89.01)

In [34]:
# IC Hospital B
ic_B = intervalo_confianca(dados['Hospital B'])

Média: 57.80
Intervalo de confiança 99%: (51.51, 64.09)